* {
    box-sizing: border-box;
    font-family: inherit;
    transition: .2s all;
    line-height: 1.5;
}

@font-face {
    font-family: 'Open Sans Condenced';
    src: url(../fonts/OpenSansCondensed-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Open Sans Condenced';
    src: url(../fonts/OpenSansCondensed-Light.ttf);
    font-weight: 300;
}

.header {
    margin: auto;
    width: 1010px;
    font-family: 'Open Sans Condenced';
}

.button {
    display: block;
    margin: auto;
    margin-top: 50px;
    padding: 10px 20px;
    background: #f9f9f9;
    border: 1px solid #d5d5d5;
    color: #0173c7;
    font-size: 30px;
    cursor: pointer;
}

.button:hover {
    background: #ececec;
    border: 1px solid #cfcfcf;
    color: #0460a1;
}

.main {
    position: relative;
    margin: auto;
    width: 1010px;
    font-family: 'Open Sans Condenced';
}

.field-container {
    position: relative;
    display: inline-block;
    margin: 0 50px;
    width: 401px;
}

.title {
    line-height: 50px;
    margin: 0 10px;
    text-align: center;
    color: #0460a1;
    font-weight: normal;
}

.field {
    width: 401px;
    height: 401px;
    border-top: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
}

.fieldBlocker {
    position: absolute;
    display: block;
    top: 50px;
    left: 0;
    width: 401px;
    height: 401px;
    border: 1px solid #d5d5d5;
    background: #e2e2e2dd url(../images/animation.png) no-repeat;
    background-position: center 80px;
    background-size: 200px 200px;
    animation: 2s linear 0s infinite alternate ship; 
    
}

@keyframes ship { 
    from { background-position: center 80px; } 
    25% { background-position: center 85px; }
    50% { background-position: center 80px; }
    75% { background-position: center 85px; }
    to { background-position: center 80px; } 
}

.hidden {
    visibility: hidden;
}

.field__sector {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: #f9f9f9;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    transition: none;
}

.field__sector-enemy {
    background: #e2e2e2;
    cursor: pointer;
}

.field__sector-enemy:hover {
    background: #c0c0c0;
}

.field__sector-ship {
    background: #0173c7;
    border: 1px solid #0173c7;
}

.field__sector-miss {
    background: #f9f9f9 url(../images/miss.png) no-repeat;
    background-position: top right;
    animation: .5s linear 0s alternate miss;   
}

@keyframes miss { 
    from { background-color: #c0c0c0; }
    to { background-color: #f9f9f9; }
}

.field__sector-miss:hover {
    background: url(../images/miss.png) no-repeat;
    background-position: top right;
}

.field__sector-hit {
    border: 1px solid #0173c7;
    background: #0173c7 url(../images/hit.png) no-repeat;
    background-position: top right;
    animation: .5s linear 0s alternate hit;   
}

@keyframes hit { 
    from { background-color: #B96F73; border: 1px solid #B96F73; } 
    to { background-color: #0173c7; border: 1px solid #0173c7; }
}

.field__sector-hit:hover {
    border: 1px solid #0173c7;
    background: #0173c7 url(../images/hit.png) no-repeat;
    background-position: top right;
}

.endGame {
    position: absolute;
    top: 0px;
    height: 455px;
    width: 100%;
}

.endGame__title {
    position: relative;
    margin: auto;
    width: max-content;
    color: #0173c7;
    text-align: center;
    font-size: 30px;
    animation: endGameTitle 1s;
}

@keyframes endGameTitle {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0);
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }